@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<iframe
    src="https://player.twitch.tv/?channel=jaaski&parent=localhost"
    height="400px"
    width="400px"
    allowfullscreen>
</iframe>